<!-- Filename: filter-form.ejs
partial that groups filter inputs into one form -->

<form method="GET" action="/">
  <%- include('./filter-inputs/search-task-input') %> <%-
  include('./filter-inputs/categorize-task-input') %> <%-
  include('./filter-inputs/priority-task-input') %>
</form>
