<!-- Filename: footer.ejs
partial for footer information -->

<footer>
  CMPS2212 |
  <a href="https://github.com/andreshungbz" target="_blank">Andres Hung</a> |
  <a href="https://github.com/andreshungbz/simple-task-manager" target="_blank"
    >GitHub</a
  >
</footer>
