<!-- Filename: header.ejs
partial for header and navigation -->

<header>
  <a href="/"><h1>Simple Task Management</h1></a>
  <nav>
    <a href="/usage">Usage</a>
    <a href="/about">About</a>
  </nav>
</header>
