<!-- Filename: search-task-form.ejs
partial for form that searchs tasks -->

<section class="formSection">
  <div id="search-task-form"">
    <input type="text" name="search" value="<%= filter.search  %>" />
    <button type="submit">Search Tasks</button>
  </div>
</section>
