<!-- Filename: search-task-form.ejs
partial for form that searchs tasks -->

<section class="formSection">
  <form id="search-task-form" method="GET" action="/">
    <input type="text" name="search" required />
    <button type="submit">Search Tasks</button>
  </form>
</section>
