<!-- Filename: priority-task-input.ejs
partial for form that filters tasks by priority -->

<section class="formSection">
  <div id="priority-task-input">
    <div>
      <label>
        <input type="radio" name="priorityOrder" value="" checked /> None
      </label>
      <label>
        <input type="radio" name="priorityOrder" value="high" <%=
        filter.priorityOrder === 'high' ? 'checked' : '' %> /> Highest First
      </label>
      <label>
        <input type="radio" name="priorityOrder" value="low" <%=
        filter.priorityOrder === 'low' ? 'checked' : '' %> /> Lowest First
      </label>
    </div>
    <button type="submit">Sort By Priority</button>
  </div>
</section>
