<!-- Filename: priority-task-input.ejs
partial for form that filters tasks by priority -->

<section class="formSection">
  <div id="priority-task-input">
    <div>
      <label>
        <input type="radio" name="priority" value="" checked /> None
      </label>
      <label>
        <input type="radio" name="priority" value="highToLow" <%=
        filter.priority === 'highToLow' ? 'checked' : '' %> /> Highest First
      </label>
      <label>
        <input type="radio" name="priority" value="lowToHigh" <%=
        filter.priority === 'lowToHigh' ? 'checked' : '' %> /> Lowest First
      </label>
    </div>
    <button type="submit">Sort By Priority</button>
  </div>
</section>
