<!--
Filename: index.ejs
main page for web application
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="styles.css" rel="stylesheet" />
    <title>Simple Task Management</title>
  </head>
  <body>
    <header>
      <a href="/"><h1>Simple Task Management</h1></a>
      <nav>
        <a href="/usage">Usage</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <main>
      <section>
        <form method="POST" action="/add-task">
          <label for="task-title"
            >Task Name:
            <input type="text" id="task-title" name="task-title" required
          /></label>
          <label for="task-description"
            >Description:
            <input type="text" id="task-description" name="task-description"
          /></label>
          <button type="submit">Add Task</button>
        </form>
      </section>
      <section>
        <ul>
          <% tasks.forEach(task => { %>
          <li>
            <h2><%= task.title %></h2>
            <p><%= task.description %></p>
            <div>
              <form method="POST" action="/toggle-task/<%= task.id %>">
                <button type="submit">Complete</button>
              </form>
              <form method="POST" action="/delete-task/<%= task.id %>">
                <button type="submit">Delete</button>
              </form>
            </div>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <footer>
      Coded by
      <a href="https://github.com/andreshungbz" target="_blank">Andres Hung</a>
      | CMPS2212 GUI
    </footer>
  </body>
</html>
