<!-- Filename: usage.ejs
basic app usage instructions -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/common-meta') %>
    <title>Usage</title>
  </head>
  <body>
    <div class="app">
      <%- include('partials/header') %>
      <main>
        <div class="message">
          <h2>Usage</h2>
          <p>
            The Simple Task Manager web application is a simle to-do list web
            application where you can add tasks, mark tasks as complete or
            incomplete, and delete tasks. You can also filter the list of tasks
            by searching text, showing only complete or incomplete tasks, and
            sorting by priority.
          </p>
          <p>Tasks are saved in memory and are cleared on server restart.</p>
        </div>
      </main>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
