/*
Filename: form.css
styles for main add task form
*/

/* FORM */

.formSection {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border: 2px solid var(--blue-4);
  border-radius: 5px;
}

#add-task-form {
  display: flex;
  gap: 5px;
}

.text-input-section {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 3;
}

.formSection button {
  display: block;
  flex: 1;
}

.name-input,
.desc-input,
.prio-input {
  display: flex;
  gap: 10px;
}

.name-input input,
.desc-input textarea {
  flex: 1;
}

.desc-input textarea {
  resize: vertical;
  height: 50px;
}

.prio-input {
  gap: 50px;
}
