/*
Filename: pagination.css
styling for pagination
*/

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination a {
  padding: 5px 10px;
  border: 1px solid var(--blue-2);
  border-radius: 5px;
  text-decoration: none;
  color: var(--blue-2);
  transition: background-color 0.2s ease;
}

.pagination a:hover {
  background-color: var(--blue-2);
  color: white;
}

.pagination span {
  padding: 5px 10px;
  font-weight: bold;
}
