/*
Filename: pagination.css
styling for pagination
*/

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 15px;
}

.pagination a {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--blue-1);
  color: white;
  transition: background-color 0.2s ease;
}

.pagination a:hover {
  background-color: var(--blue-2);
}

.pagination span {
  padding: 5px 10px;
  font-weight: bold;
}

.pagination .disabled {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(198, 198, 198);
  color: white;
}
